
*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;


}



#grilla {

    display: flex;

    background-color: black;

    align-content: center;

    flex-direction: row;

    flex-wrap: nowrap;

    align-items: center;

    gap: 150px;

    }


header {

    background-image: linear-gradient(90deg, rgba(0,0,133,1) 0%, rgba(41,33,201,1) 49%, rgba(0,212,255,1) 100%);

}


.header_test {

   

        display: flex;

        flex-wrap: wrap;



        justify-content: center;

        align-items: center;

   

}


.header_test img {

    width: 80px;

}


.main-img {

    width: 350px;


}


h1 {

    color: blue;

    text-align: center;

    padding: 20px;

    margin: 30px;

    font-weight: bold;

    font-size: xx-large;

    border: solid 2px black;

    border-radius: 10px;

   background-color: black;
   

}


.estilo-lista {

    background-color: black;

    border-radius: 0px 10px 10px 0px;

    border: solid blue;

    list-style-type: none;

    text-align: center;

    display: grid;

    justify-content: center;

   

}

ul li a{

    text-decoration: none;

    color: white; 

    font-weight: bold;

    font-size: 4vh;

    line-height: 4;

    background-color: black;

    border-radius: 10px;

    border: solid 2px blue;


}



footer{

    text-align: center;

    width: 100vw;

    position: absolute;

    border: 3px solid;

    border-color: blue;

    background-color: black;

    color: white;

    text-align: center;


}
main {
    grid-area: main; 
    

}



nav{
   grid-area: nav; 
    
}



form{
    position: relative;
 
    color: white;
}

fieldset {
    height: 78vh;
    width: 70vw;
    border: solid blue;
    font-size: 2vh;
    background-image: linear-gradient(90deg, rgba(0,0,133,1) 0%, rgba(41,33,201,1) 49%, rgba(0,212,255,1) 100%);
  
}

legend{
    font-size: 3vh;
    font-weight: bold;
}



select{
    font-size: 2vh;
    border-radius: 5px;
    border: solid 2px black;
    position: relative;
}



.legend-dos{
    font-size: 3vh;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 10px;
    background-color: black;
    width: 9vw;
    text-align: center;
}

.legend-contacto{
    color:white;
    position: absolute;
    


}


.legend-tres{
    font-size: 3vh;
    font-weight: bold;
    border: solid 2px black;
    background-color: black;
    width: 11vw;
    text-align: center;
    border-radius: 10px;
}

.legend-cuatro{
    font-size: 3vh;
    font-weight: bold;
    border: solid 2px black;
    background-color: black;
    width: 5vw;
    text-align: center;
    border-radius: 10px;
}


.img-1{
    position: absolute;
    width: 400px;
    border: solid 3px blue;
    margin-left: 35vw;
    
}


.div-uno{ 
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: 1vw;
    margin-top: 5vh;
    display: flex;
   
}  

.user-login{
    background-color: black;
    position: absolute;
    width: 3vw;
    height: 5vh;
    margin: 85vw;
    margin-top: 2vh;

}

.user-login-dos{
    background-color: blue;
    position: absolute;
    width: 3vw;
    height: 5vh;
    margin: 85vw;
    margin-top: 5vh;



}

.div-dos{
    align-items: center;
    
    margin-top: 10vh;
 
    font-size: 2vh;
}

.div-botones input {
    position: relative;
    float: right;
    margin-top: 10vh;
    width: 5vw;
    border: solid 2px black;
    border-radius: 5px;
    
    
}

.button-faros a{ 
    color: black;
    background-color: white;
    border-radius: 5px;
    border: solid 2px black;
    position: absolute;
    text-decoration: none;
    width: 7vw;
    height: 2vh;
    margin-left: 86vw;
    margin-top: 1vh;
 
}

.button-contacto a{
    color: black;
    background-color: white;
    border-radius: 5px;
    border: solid 2px black;
    position: absolute;
    text-decoration: none;
    width: 7vw;
    height: 2vh;
    margin-left: 29vw;
   
   
}

.carousel-inner {
    width: 500px;

    margin-left: 11vw;

    border: solid 5px blue;

}

.carousel-inner img{

    height: 500px;

    width: 450px;
}

.img-contacto:hover{
    position: relative;
    width: 30vw;
    height: 25vh;
    transform: rotateY(360deg);
    transition: 3s ease;

}

.container-img{
    position: absolute;
    width: 25vw;
    height: 25vh;
    display: flex;
 
 
}

.div-tres{
    position: relative;
    margin-left: 2vw;
    margin-top: 5vh;
}

.imagen-dos{
    border: solid 3px blue;
    width: 300px;
    height: 300px;
}



.form-dos{
        position: absolute;
        margin-left: 4vw;
        margin-top: 1vh;
    

}



@media only screen and (max-widht:1200px) {
    #grilla {
        gap: 220px;
    }
}


@media only screen and (max-width:480px) {
        #grilla{
           gap: 35px;
        }

        main img {

            width: 200px;
    
            padding: 0;
    
            margin: auto;

            display: flex;
    
        }

        .img-contacto{
            position: absolute;
            width: 25vw;
            height: 15vh;
        }

        .container-img{
            transition: none;
            transform: none;
            width: 200px;
        }

        .estilo-lista { 
            flex-direction: row;
            flex-wrap: wrap;
            border:none;      
            
        } 

      ul li a{
        font-size:3vh;
        margin-left: 2vw;   
      }

      .carousel-inner{
        width: 200px;
        height: 200px;
      }

      .carousel-inner img {
        width: 200px;
        height: 200px;
      }

      fieldset{
        width: 57vw;
       
      }

      .img-1{
        width: 125px;
        height: 125px;
        margin-left: 25vw;
        margin-top: 25vh;
      }

      fieldset textarea{
        width: 50px;
        height: 50px
      }

      .legend-dos{
        width: 20vw;
        font-size: 2vh;
      }
      
      .legend-tres{
        width: 25vw;
        font-size: 2vh;
      }

      .legend-cuatro{
        width: 10vw;
        font-size: 2vh;
      }
      
      fieldset legend{
        font-size: 2vh;
      }

     .div-botones input{
        width: 15vw;
        height: 3vh;
      
        margin-top: 1vh;
     }
     

     .button-contacto a{
        width: 17vw;
        height: 5vh;
        position: absolute;
     }

     label{
        font-size: 2vh;
     }
     form ul li {
        margin: 1vw;

     }

     input {
        position: relative;
        width: 18vw;
        height: 3vh;
     }

     .div-dos{
        position: absolute;
        margin-right: 2vw;
     }


}

@media only screen and (max-width:2160px) {
    .div-uno img{
        width: 350px;
        height: 350px;
    }

    textarea{
        width: 450px;
        height: 100px;
    }
    
    .div-dos{
        margin-left: 33vw;
    }

}