footer{

    text-align: center;

    width: 100vw;

    position: absolute;

    border: 3px solid;

    border-color: blue;

    background-color: black;

    color: white;

    text-align: center;

}