
@media only screen and (max-widht:1200px) {
    #grilla {
        gap: 220px;
    }
  }
  
  
  @media only screen and (max-width:480px) {
  
    main{
        width: 100vw;
  
    }
        main img {
  
            width: 200px;
  
            padding: 0;
  
            margin: auto;
  
            display: flex;
  
        }
  
        .img-contacto{
            position: absolute;
            width: 60vw;
            height: 20vh;
        }
  
        .img-contacto:hover{
            transition: none;
            transform: none;
            width: 62vw;
            height: 20vh;
        }
  
        .container-img{
            width: 25vw;
            margin-left: 10vw;
        }
  
  
        .estilo-lista {
            flex-direction: row;
            flex-wrap: wrap;
  
  
        }
  
      ul li a{
        font-size:3vh;
        margin-left: 2vw;
      }
  
      #p-index{
        width: 40vw;
        text-align: center;
        margin-top: 10vh !important;
      }
  
      .carousel-inner{
        width: 300px;
        height: 300PX;
        margin-top: 15vh !important;
      }
  
      .carousel-inner img {
        width: 300px !important;
        height: 300px !important;
        
      }
  
      fieldset{
        width: 100vw;
  
      }
  
      .img-1{
        width: 250px !important;
        height: 250px;
        margin-left: 30vw;
        margin-top: 45vh;
      }
  
      .legend-dos{
        width: 22vw !important;
        font-size: 2vh;
      }
  
      .legend-tres{
        width: 28vw !important;
        font-size: 2vh;
      }
  
      .legend-cuatro{
        width: 14vw !important;
        font-size: 2vh;
      }
  
      fieldset legend{
        font-size: 2vh;
      }
  
     .div-botones input{
        width: 15vw !important;
        height: 3vh !important;
        margin-top: 2vh;
     }
  
  
     .button-contacto a{
        width: 17vw;
        height: 5vh;
        position: absolute;
     }
  
     label{
        font-size: 2vh;
     }
  
     form ul li {
        margin: 1vw;
  
     }
  
     input {
        position: relative;
        width: 40vw;
        height: 3vh;
  
     }
  
     .div-dos{
        position: absolute;
        margin-top: 40vh !important;
     }
  
  }
  
  
  @media only screen and (max-width:2160px) {
    .div-uno img{
        width: 350px;
        height: 350px;
    }
  
    .div-dos{
        margin-left: 33vw;
    }
  
  }
  
  